---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="The website homepage, where you can view my projects, blogs, interests, about me information and contact details. I am Perseus Lynx.">
		<title>my webSite</title>
		{% include themes-style.html %}
		{% include general-style.html %}
		{% include trees-style.html %}
		<link rel="stylesheet" href="./src/styles/home.css">
		{% include umami-analytics.html %}
	</head>
	<body>
		{% include themes-inputs.html %}
		<div id="view">
			<div id="card">
				<div id="banner">
				</div>
				<div id="pfp-container">
					<img src="/src/assets/pfp-big.webp" alt="Round profile picture">
				</div>
				<div id="contents">
					<div id="name">
						<h2>Perseus</h2>
					</div>
					<div id="subtitle">
						<a href="/src/about/aboutme.md">[about me]</a>
					</div>
				</div>
				<hr class="separator">
				{% include trees.html %}
			</div>
			{% include themes.html %}
		</div>
	</body>
</html>