---
---

<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>About me</title>
	<link rel="stylesheet" href="./src/styles/home.css">
	{% include trees-horizontal-style.html %}
	{% include trees-style.html %}
	{% include theme-style.html %}
</head>
<body>
	<!--Adds the theme inputs-->
	{% include theme-inputs.html %}

	<div id="view">
		{% include theme-menu.html %}
		<div id="content">
			<div id="welcome">
					<h1>Hello there, I'm <em>Perseus</em>!</h1>
					<p>I love <s>wasting</s> investing my time <span id="cycle-interests"></span></p>
			</div>
			{% include trees.html %}
		</div>
	</div>
</body>