@font-face {
    font-family: "DMMono-Light";
    src: url("./fonts/DMmono/DMMono-Light.ttf") format("truetype");
}

@font-face {
    font-family: "DMMono-Regular";
    src: url("./fonts/DMmono/DMMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "DMMono-Medium";
    src: url("./fonts/DMmono/DMMono-Medium.ttf") format("truetype");
}


:root {
    --bg-color: black;
    --text-color: #cacaca;
    --text-font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-family: "DMMono-Regular";
}

a:link, a:visited {
    color: var(--text-color);
}

#content {
    padding: 4em 0em;
    line-height: 1.8em;
    font-size: var(--text-font-size);
    max-width: 50vw;
    height: 70%;
    margin: auto;
    display: grid;
    place-items: center;
}

#main {
    width: 60ch;
}

#cycle-interests:after {
    animation-name: cycle-interests;
    animation-duration: 12s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    content: "";
    color: var(--bg-color);
    background-color: var(--text-color);
}

@keyframes cycle-interests {
    0% {
        content: "";
    }
    5% {
        content: ".";
    }
    10% {
        content: "..";
    }
    15% {
        content: "...";
    }
    25% {
        content: "on rockets";
    }
    40% {
        content: "programming";
    }
    55% {
        content: "doing calisthenics";
    }
    75% {
        content: "typing fast";
    }
    85% {
        content: "on existential crisis";
    }
    100% {
        content: "idling";
    }
  }


/* .terminal-container p::before {content: "bob@root:~$ ";} */
