<div id="theme-menu">
    <details id="theme-menu-details">
        <summary>[T]</summary>
    </details>
    <div class="details-dropdown">
        <div class="theme" data-theme="grayscale">
            <span class="theme-label">Grayscale</span>
        </div>
        <div class="theme" data-theme="catppuccin">
            <span class="theme-label">Catppuccin</span>
        </div>
        <div class="theme" data-theme="gruvbox">
            <span class="theme-label">Gruvbox</span>
        </div>
        <div class="theme" data-theme="everforest">
            <span class="theme-label">Everforest</span>
        </div>
        <div class="theme" data-theme="terminal">
            <span class="theme-label">Terminal</span>
        </div>
    </div>
</div>