<details id="theme-menu">
    <summary>Themes</summary>
    <div class="theme">
        <label class="theme-label" for="grayscale-theme">Grayscale</label>
    </div>
    <div class="theme">
        <label class="theme-label" for="catppuccin-theme">Catppuccin</label>
    </div>
    <div class="theme">
        <label class="theme-label" for="gruvbox-theme">Gruvbox</label>
    </div>
    <div class="theme">
        <label class="theme-label" for="everforest-theme">Everforest</label>
    </div>
    <div class="theme">
        <label class="theme-label" for="terminal-theme">Terminal</label>
    </div>
</details>