<div id="theme-menu">
    <details id="theme-menu-details">
        <summary>Themes</summary>
    </details>
    <div class="details-dropdown">
        <div class="theme">
            <label class="theme-label" for="grayscale-theme">Grayscale</label>
        </div>
        <div class="theme">
            <label class="theme-label" for="catppuccin-theme">Catppuccin</label>
        </div>
        <div class="theme">
            <label class="theme-label" for="gruvbox-theme">Gruvbox</label>
        </div>
        <div class="theme">
            <label class="theme-label" for="everforest-theme">Everforest</label>
        </div>
        <div class="theme">
            <label class="theme-label" for="terminal-theme">Terminal</label>
        </div>
    </div>
</div>