<div id="trees">
    <ul id="home-tree" class="tree">
        <details>
            <summary><a href="/">/home</a></summary>
        </details>
    </ul>
    <ul id="projects-tree" class="tree">
        <details>
            <summary>/projects</summary>
        </details>
        <li>
            <ul class="tree-parent">
                <li>
                    <a href="/projects"><em>All</em></a>
                </li>
                {% assign latest_projects = site.projects | reverse %}
                {% for project in latest_projects limit:3 %}
                <li>
                    <a href="{{ project.url }}">{{ project.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <ul id="blogs-tree" class="tree">
        <details>
            <summary>/blog</summary>
        </details>
        <li>
            <ul class="tree-parent">
                <li>
                    <a href="/blog"><em>All</em></a>
                </li>
                {% assign latest_posts = site.blog | reverse %}
                {% for post in latest_posts limit:3 %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <ul id="about-tree" class="tree">
        <details>
            <summary>/about</summary>
        </details>
        <li>
            <ul class="tree-parent">
                <li>
                    <a href="/about-me">about-me</a>
                </li>
                <li>
                    <a href="/this-site">this-site</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="contact-tree" class="tree">
        <details>
            <summary>/contact</summary>
        </details>
        <li>
            <ul class="tree-parent">
                <li>
                    <a href="mailto:perseuslynx333@gmail.com">e-mail</a>
                </li>
                <li>
                    <a href="discord://-/users/581902699247829046">discord</a>
                </li>
            </ul>
        </li>
    </ul>
</div>