<div id="trees">
    <ul id="projects-tree" class="tree">
        <details>
            <summary>/src/projects</summary>
            <li>
                <ul class="tree-parent">
                    <li>
                        <a href="/404.html">Orbit Simulator</a>
                    </li>
                    <li>
                        <a href="/404.html">Live Rocket HUD</a>
                    </li>
                    <li>
                        <a href="/404.html">TypeRacer Reimagined</a>
                    </li>
                    <li>
                        <a href="/404.html">more...</a>
                    </li>
                </ul>
            </li>
        </details>
    </ul>
    <ul id="blogs-tree" class="tree">
        <details>
            <summary>/_posts</summary>
            <li>
                <ul class="tree-parent">
                    <li>
                        <a href="/404.html">Linux Issues</a>
                    </li>
                    <li>
                        <a href="/2024/10/25/memories-and-dreams.html">On memories and dreams</a>
                    </li>
                    <li>
                        <a href="/404.html">Animal farm</a>
                    </li>
                    <li>
                        <a href="/404.html">more...</a>
                    </li>
                </ul>
            </li>
        </details>
    </ul>
    <ul id="about-tree" class="tree">
        <details>
            <summary>/src/about</summary>
            <li>
                <ul class="tree-parent">
                    <li>
                        <a href="/404.html">bio</a>
                    </li>
                    <li>
                        <a href="/404.html">skills</a>
                    </li>
                    <li>
                        <a href="/src/about/this-site.html">this-site</a>
                    </li>
                </ul>
            </li>
        </details>
    </ul>
    <ul id="contact-tree" class="tree">
        <details>
            <summary>/src/contact</summary>
            <li>
                <ul class="tree-parent">
                    <li>
                        <a href="mailto:perseuslynx333@gmail.com">e-mail</a>
                    </li>
                    <li>
                        <a href="discord://-/users/581902699247829046">discord</a>
                    </li>
                </ul>
            </li>
        </details>
    </ul>
</div>