<div id="trees">
    <ul id="home-tree" class="tree">
        <details>
            <summary><a href="/index.html">/</a></summary>
        </details>
    </ul>
    <ul id="projects-tree" class="tree">
        <details {% if page.url == "/" %}open{% endif %}>
            <summary>/src/projects</summary>
            <li>
                <ul class="tree-parent">
                    <li>
                        <a href="/404.html">Orbit Simulator</a>
                    </li>
                    <li>
                        <a href="/404.html">Live Rocket HUD</a>
                    </li>
                    <li>
                        <a href="/404.html">TR Reimagined</a>
                    </li>
                    <li>
                        <a href="/404.html">more...</a>
                    </li>
                </ul>
            </li>
        </details>
    </ul>
    <ul id="blogs-tree" class="tree">
        <details {% if page.url == "/" %}open{% endif %}>
            <summary>/_posts</summary>
            <li>
                <ul class="tree-parent">
                    {% for post in site.posts limit:3 %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="/404.html">more...</a>
                    </li>
                </ul>
            </li>
        </details>
    </ul>
    <ul id="about-tree" class="tree">
        <details {% if page.url == "/" %}open{% endif %}>
            <summary>/src/about</summary>
            <li>
                <ul class="tree-parent">
                    <li>
                        <a href="/404.html">bio</a>
                    </li>
                    <li>
                        <a href="/404.html">skills</a>
                    </li>
                    <li>
                        <a href="/src/about/this-site.html">this-site</a>
                    </li>
                </ul>
            </li>
        </details>
    </ul>
    <ul id="contact-tree" class="tree">
        <details {% if page.url == "/" %}open{% endif %}>
            <summary>/contact</summary>
            <li>
                <ul class="tree-parent">
                    <li>
                        <a href="mailto:perseuslynx333@gmail.com">e-mail</a>
                    </li>
                    <li>
                        <a href="discord://-/users/581902699247829046">discord</a>
                    </li>
                </ul>
            </li>
        </details>
    </ul>
</div>