#posts-list {
    margin-top: 2rem;
}

.post {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-bottom: 3rem;
    column-gap: 2em;
}

.post-header h3 {
    margin: 0 0 0.25rem 0;
}

#posts-list .post-header a {
    font-family: var(--regular-font);
}

.post-header h3::before {
    content: "";
}

.post-tag {
    display: inline-block;
}