@font-face {
    font-family: "DMMono";
    src: url("../fonts/DMmono/DMMono-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Bitter";
    src: url("../fonts/Bitter/Bitter-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "IBM_VGA";
    src: url("../fonts/IBM_VGA/Mx437_IBM_VGA_8x16.ttf") format("truetype");
}

:root {
    --text-font-size: 18px;
    --mobile-font-size: 14px;
    --line-height: 2em;
    --border-thickness: 2px;
    --paragraph-font: "Bitter";
    --paragraph-font-size: 19px;
}

html {
    scroll-behavior: smooth;
    background-color: var(--current-bg-color);
}

body {
    background-color: var(--current-bg-color);
    color: var(--current-text-color);
    font-family: var(--regular-font);
    line-height: var(--line-height);
    font-size: var(--text-font-size);
    margin: 0;
}

#view {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    margin: auto;
}

code {
    text-wrap: auto;
}

blockquote {
    margin: 0;
    padding-left: 2em;
    border-left: var(--border-thickness) solid var(--current-text-color);
}

p {
    margin: 0;
}