@font-face {
    font-family: "Monaspace_Neon";
    src: url("../fonts/monaspace-neon.woff2") format("woff2");
}

@font-face {
    font-family: "Bitter";
    src: url("../fonts/Bitter.woff2") format("woff2");
}

@font-face {
    font-family: "IBM_VGA";
    src: url("../fonts/IMB_VGA_8x16.woff2") format("woff2");
}

@font-face {
    font-family: "CrimsonText";
    src: url("../fonts/CrimsonText-Italic.woff2") format("woff2");
}

:root {
    --text-font-size: 16px;
    --mobile-font-size: 14px;
    --line-height: 1.8em;
    --border-thickness: 1.5px;
    --regular-font: "Monaspace_Neon", monospace;
    --paragraph-font: "Bitter", serif;
    --italics-font: "CrimsonText", serif;
    --paragraph-font-size: 18px;
}

html {
    scroll-behavior: smooth;
    background-color: var(--current-bg-color);
}

body {
    background-color: var(--current-bg-color);
    color: var(--current-text-color);
    font-family: var(--regular-font);
    line-height: var(--line-height);
    font-size: var(--text-font-size);
    margin: 0;
}

#view {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    margin: auto;
}

code {
    text-wrap: auto;
}

blockquote {
    margin: 0;
    padding-left: 2em;
    border-left: var(--border-thickness) solid var(--current-text-color);
}

p {
    margin: 0;
}

a {
    text-decoration-style: dotted;
    color: var(--current-text-color) !important;
}

a:hover {
    text-decoration-style: solid;
    color: var(--current-secondary-color) !important;
    transition: 0.1s linear;
}
