@font-face {
    font-family: "DMMono-Regular";
    src: url("../fonts/DMmono/DMMono-Regular.ttf") format("truetype");
}

:root {
    --text-font-size: 16px;
    --line-height: 1.5em;
    --border-thickness: 2px;

    /*Grayscale Custom*/
    --grayscale-bg-color: #111111;
    --grayscale-text-color: #cacaca;
    
    /*Catppuccin Macchiato*/
    --catppuccin-bg-color:  #24273a;
    --catppuccin-text-color: #cad3f5;
    
    /*Gruvbox Dark*/
    --gruvbox-bg-color: #282828;
    --gruvbox-text-color: #ebdbb2;
    
    /*Everforest Dark*/
    --everforest-bg-color: #2d353b;
    --everforest-text-color: #d3c6aa;
    
    /*Terminal Aggressive*/
    --terminal-bg-color: black;
    --terminal-text-color: lime;
    
    --current-bg-color: var(--grayscale-bg-color);
    --current-text-color: var(--grayscale-text-color);
}

html {
    scroll-behavior: smooth;
}

body > input {
    display: none;
}

body {
    margin: 0;
}

#view {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: centers;

}

#view {
    background-color: var(--current-bg-color);
    color: var(--current-text-color);
    font-family: "DMMono-Regular";
    line-height: var(--line-height);
    font-size: var(--text-font-size);
}



#content {
    padding: 4em 0em;
    width: 70vw;
    height: 25em;
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-rows: 2fr 1fr;
}

#welcome {
    width: 40em;
}

#cycle-interests:after {
    animation-name: cycle-interests;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    content: "";
    color: var(--current-bg-color);
    background-color: var(--current-text-color);
}

@keyframes cycle-interests {
    0% {
        content: "";
    }
    2% {
        content: ".";
    }
    3% {
        content: "..";
    }
    5% {
        content: "...";
    }
    10% {
        content: "working on rockets";
    }
    15% {
        content: "programming";
    }
    20% {
        content: "doing calisthenics";
    }
    25% {
        content: "typing fast";
    }
    30% {
        content: "on existential crisis";
    }
    35% {
        content: "exploring";
    }
    40% {
        content: "thinking";
    }
    45% {
        content: "diving into rabbit holes";
    }
    50% {
        content: "ricing";
    }
    55% {
        content: "learning";
    }
    60% {
        content: "writing this website";
    }
    65% {
        content: "journaling";
    }
    70% {
        content: "planning world domination"
    }
    75% {
        content: "learning about rockets";
    }
    80% {
        content: "playing D&D as DM";
    }
    85% {
        content: "divig into more rabbit holes";
    }
    90% {
        content: "hiking";
    }
    95% {
        content: "reading";
    }
    100% {
        content: "idling";
    }
}

/*Everything to do with the trees at the start*/
