#view {
    justify-items: center;
    display: grid;
}

#theme-menu {
    margin-left: 1em;
}

#content {
    align-items: center;
    display: grid;
    width: 60vw;
    height: 22em;
    border: var(--border-thickness) solid var(--current-text-color);
    padding: 3em;
}

#welcome {
    display: grid;
    grid-template-columns: auto 1fr;
}

#message {
    flex: 1;
}

#pfp-container {
    margin-right: 2em;
}

#pfp-container img {
    height: 11rem;
    width: 11rem;
}


#welcome > * {
    align-self: center;
}


#cycle-interests:after {
    animation-name: cycle-interests;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    content: "";
    color: var(--current-bg-color);
    background-color: var(--current-text-color);
}

@keyframes cycle-interests {
    0% {
        content: "";
    }
    2% {
        content: ".";
    }
    3% {
        content: "..";
    }
    5% {
        content: "...";
    }
    10% {
        content: "working on rockets";
    }
    15% {
        content: "programming";
    }
    20% {
        content: "doing calisthenics";
    }
    25% {
        content: "typing fast";
    }
    30% {
        content: "on existential crisis";
    }
    35% {
        content: "exploring";
    }
    40% {
        content: "thinking";
    }
    45% {
        content: "diving into rabbit holes";
    }
    50% {
        content: "ricing";
    }
    55% {
        content: "learning";
    }
    60% {
        content: "writing this website";
    }
    65% {
        content: "journaling";
    }
    70% {
        content: "planning world domination"
    }
    75% {
        content: "learning about rockets";
    }
    80% {
        content: "playing D&D as DM";
    }
    85% {
        content: "finding new hobbies";
    }
    90% {
        content: "hiking";
    }
    95% {
        content: "reading";
    }
    100% {
        content: "idling";
    }
}

#home-tree {
    display: none;
}