#view {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto 0;
    background-color: #1a1c2a;
}

#card {
    font-size: 16px;
    display: grid;
    height: 40rem;
    width: 35rem;
    overflow-y: hidden;
    border-radius: 1rem;
    grid-template-rows: 1fr 0 1fr 0 1fr;
    background-color: var(--current-bg-color);
    font-family: var(--regular-font), sans-serif, var(--paragraph-font);
}

#banner {
    background-image: url("/src/assets/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}

#pfp-container {
    align-self: center;
    margin-left: 2rem;
    background-color: var(--current-bg-color);
    height: 7rem;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 5px solid var(--current-bg-color);
}

#pfp-container > img {
    height: 100%;
    border-radius: 100%;
}

#contents {
    margin-top: 4rem;
    padding-left: 2rem;
}

#name {
    font-weight: bold;
}

#name > h2 {
    margin: 0;
}

#subtitle {
    line-height: 0.75em;
}

#message {
    margin-top: 2rem;
    height: 2em;
    line-height: 1.5em;
}

.separator {
    width: 50%;
    margin: auto;
}

#pages {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
    justify-items: center;
    align-items: center;
}

#pages > a {
    width: 10ch;
    text-decoration: none;
}

#theme-menu {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--current-dim-color);
}

#theme-menu summary {
    list-style-type: none;
}

/*For mobile nerds*/
@media (max-width: 940px) {

    #view {
        display: block;
    }

    #content {
        width: fit-content;
        border: none;
        word-wrap: break-word;
        padding: 2em;
        margin: 0;
        display: block;
    }
    
    #welcome {
        display: block;
    }
    
    #pfp-container {
        display: grid;
        justify-content: center;
        margin: 0;
    }

    #pfp-container > img {
        height: 20vh;
        width: 20vh;
    }
}