#view {
    display: flex;
    flex-direction: row;
}

#content {
    width: 60ch;
    padding-top: 4em;
    padding-bottom: 8em;
}

#sidebar {
    position: sticky;
    top: 0em;
    left: 1em;
    display: grid;
    grid-template-rows: 10em auto 10em;
    height: 100vh;
    border-right: var(--border-thickness) solid var(--current-text-color);
    max-width: 20ch;
    min-width: 20ch;
}

#theme-menu {
    position: relative;
}

#trees-container {
    align-self: center;
}

#trees {
    position: relative;
}

.tag::before {
    content: "#";
}

.tag {
    margin: inherit;
    font-weight: bold;
}

/*Markdown Element styling*/

h1 {
    margin-bottom: 2em;
    border: var(--border-thickness) solid var(--current-text-color);
    padding: 0.5em;
}

h2 {
    margin-top: 3em;
    border-bottom: var(--border-thickness) solid var(--current-text-color);
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

p, ul, ol {
    margin-bottom: 2em;
}

hr {
    border-bottom: var(--border-thickness) solid var(--current-text-color);
}

table {
    border-collapse: collapse;
    margin: 4em auto;
}

table thead tr th {
    border-bottom: var(--border-thickness) solid var(--current-text-color);   
}

table th:not(:last-child), 
table td:not(:last-child) {
    border-right: var(--border-thickness) solid var(--current-text-color);
}

table th,
table td {
    padding: 0 1em;
    text-align: center;
}

/*For the mobile nerds*/
@media (max-width: 940px) {
    #sidebar {
        display: none;
    }
    #content {
        max-width: 90vw;
        font-size: var(--mobile-font-size);
        padding: -1em;
    }
}