#view {
    display: flex;
    flex-direction: row;
}

#content {
    width: 60ch;
    padding-top: 4em;
    padding-bottom: 8em;
}

/* Changing order so that desktop-sidebar-toggle
works and is after the sidebar */
#desktop-sidebar-toggle {
    order: 2;
}

#sidebar {
    order: 1;
}

#content {
    order: 3;
}


#mobile-sidebar-toggle {
    display: none;
}

#desktop-sidebar-toggle {
    display: block;
    width: 0;
    height: 0;
    margin-top: 1em;
    margin-left: 1em;
    opacity: 50%;
}

#desktop-sidebar-toggle:hover {
    opacity: 100%;
}

#desktop-sidebar-toggle > summary {
    list-style-type: ">>";
}

#desktop-sidebar-toggle[open] > summary {
    list-style-type: "<<";
}



#sidebar {
    position: sticky;
    top: 0em;
    padding-left: 1em;
    display: grid;
    grid-template-rows: 2em auto 2em;
    row-gap: 2em;
    height: 100vh;
    max-height: 100vh;
    max-width: 0;
    overflow: hidden;
    border-right: none;
    transition: max-width 250ms ease-out;
}


#desktop-sidebar-toggle[open] ~ #sidebar {
    max-width: 20ch;
    transition: max-width 250ms ease-out;
    border-right: var(--border-thickness) solid var(--current-text-color);
}

#theme-menu {
    position: relative;
}

#trees-container {
    align-self: center;
    overflow-y: auto;
    justify-self: stretch;
    max-height: 100%;
}

#trees {
    position: relative;
}

#site-info {
    position: relative;
    bottom: 0;
    left: 0;
}

.tag::before {
    content: "#";
}

.tag {
    margin: inherit;
    font-weight: bold;
}

/*Markdown Element styling*/

h1 {
    margin-bottom: 2em;
    border: var(--border-thickness) solid var(--current-text-color);
    padding: 0.5em;
}

h2 {
    margin-top: 3em;
    border-bottom: var(--border-thickness) solid var(--current-text-color);
    font-size: 1.75em;
}

h3::before {
    content: "> ";
}

h3 {
    margin-top: 3em;
    font-size: 1.5em;
}

p:not(.tag),
li,
#content a {
    font-family: var(--paragraph-font);
}

p, #content > ul, #content > ol {
    font-size: 20px;
    margin-bottom: 2em;
}

hr {
    border-bottom: var(--border-thickness) solid var(--current-text-color);
}

pre {
    border: var(--border-thickness) solid var(--current-text-color);
    padding: 1em;
}

code {
    color: var(--current-secondary-color);
    font-family: var(--regular-font);
}

table {
    border-collapse: collapse;
    margin: 4em auto;
}

table thead tr th {
    border-bottom: var(--border-thickness) solid var(--current-text-color);   
}

table th:not(:last-child), 
table td:not(:last-child) {
    border-right: var(--border-thickness) solid var(--current-text-color);
}

table th,
table td {
    padding: 0 1em;
    text-align: center;
}

/*For the mobile nerds*/
@media (max-width: 940px) {
    #view {
        flex-direction: column;
    }

    #mobile-sidebar-toggle {
        display: block;
        margin-left: 1em;
    }

    #desktop-sidebar-toggle {
        display: none;
    }

    
    #mobile-sidebar-toggle[open] ~ #sidebar {
        max-height: 100vh;
    }

    #sidebar {
        max-height: 0;
        overflow: hidden;
        max-width: 100vw !important;
        position: relative;
        height: fit-content;
        grid-template-rows: auto auto auto;
    }

    #trees ul {
        margin: 0;
    }

    #content {
        max-width: 90vw;
        font-size: var(--mobile-font-size);
        padding-top: 1em;
    }
}