#content {
    max-width: 100%;
    width: initial;
    padding: 1em;
}

#projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: initial;
    gap: 1rem;
}

.project {
    border: var(--border-thickness) solid var(--current-text-color);
    padding: 1rem;
}

.title {
    margin-bottom: 1em;
}
.title a {
    font-size: xx-large;
}


.thumbnail {
    width: 100%;
    margin-bottom: 1em;
}

@media (max-width: 940px) {
    
    #projects-list {
        display: block;
        width: 100%;
    }

    .project {
        padding: 0;
        max-height: none;
        border: none;
        margin-bottom: 4em;
    }

    .thumbnail {
        width: 100%;
    }

}