/*
#content {
    max-width: 100%;
    width: initial;
    
    padding: 0 5rem 0 5rem;
}
*/

#projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: initial;
    row-gap: 4rem;
    column-gap: 2rem;
}

.project-content {
    color: var(--current-dim-color);
    line-height: 1.5em;
    font-family: var(--paragraph-font);
}

#content .title a {
    font-family: var(--regular-font);
    font-size: x-large;
}

.thumbnail {
    width: 90%;
    margin-bottom: 1em;
}

@media (max-width: 940px) {
    
    #projects-list {
        display: block;
        width: 100%;
    }

    .project {
        padding: 0;
        max-height: none;
        border: none;
        margin-bottom: 4em;
    }

    .thumbnail {
        width: 100%;
    }

}