:root {
    --regular-font: "DMMono-Regular";
    
    /*Grayscale Custom*/
    --grayscale-bg-color: #111111;
    --grayscale-text-color: #cacaca;
    
    /*Catppuccin Macchiato*/
    --catppuccin-bg-color:  #1e2030;
    --catppuccin-text-color: #cad3f5;
    
    /*Gruvbox Dark*/
    --gruvbox-bg-color: #282828;
    --gruvbox-text-color: #ebdbb2;
    
    /*Everforest Dark*/
    --everforest-bg-color: #2d353b;
    --everforest-text-color: #d3c6aa;
    
    /*Terminal Aggressive*/
    --terminal-bg-color: black;
    --terminal-text-color: lime;
    
    --current-bg-color: var(--catppuccin-bg-color);
    --current-text-color: var(--catppuccin-text-color);
}

#grayscale-theme:checked ~ #view {
    --current-bg-color: var(--grayscale-bg-color);
    --current-text-color: var(--grayscale-text-color);
    transition: background-color 1s linear;
}

#catppuccin-theme:checked ~ #view {
    --current-bg-color: var(--catppuccin-bg-color);
    --current-text-color: var(--catppuccin-text-color);
    transition: background-color 1s linear;
}

#gruvbox-theme:checked ~ #view {
    --current-bg-color: var(--gruvbox-bg-color);
    --current-text-color: var(--gruvbox-text-color);
    transition: background-color 1s linear;
}

#everforest-theme:checked ~ #view {
    --current-bg-color: var(--everforest-bg-color);
    --current-text-color: var(--everforest-text-color);
    transition: background-color 1s linear;
}
#terminal-theme:checked ~ #view {
    --current-bg-color: var(--terminal-bg-color);
    --current-text-color: var(--terminal-text-color);
    --regular-font: "IBM_VGA";
    transition: background-color 1s linear;
}

body > input {
    display: none;
}

a:link, a:visited {
    color: var(--current-text-color);
}

a {
    text-decoration-style: dotted;
}

a:hover {
    text-decoration-style: solid;
}

#theme-menu {
    position: absolute;
    top: 1em;
    z-index: 999;
}
#theme-menu summary {
    padding-bottom: 1em;
}

#theme-menu p {
    margin: 0;
}

.theme {
    margin-right: 1em;
}

.theme:has(label[for="grayscale-theme"]) {
    background-color: var(--grayscale-bg-color);
    color: var(--grayscale-text-color);
}
.theme:has(label[for="catppuccin-theme"]) {
    background-color: var(--catppuccin-bg-color);
    color: var(--catppuccin-text-color);
}
.theme:has(label[for="gruvbox-theme"]) {
    background-color: var(--gruvbox-bg-color);
    color: var(--gruvbox-text-color);
}
.theme:has(label[for="everforest-theme"]) {
    background-color: var(--everforest-bg-color);
    color: var(--everforest-text-color);
}
.theme:has(label[for="terminal-theme"]) {
    background-color: var(--terminal-bg-color);
    color: var(--terminal-text-color);
}