#trees {
  display: grid;
  width: 100%;
}

#trees-container {
  height: fit-content;
}

#trees > ul {
    padding-right: 2em;
}

#trees p {
    margin: 0;
    font-weight: bold;
}

summary {
  font-weight: bold;
}

/*
START of code extracted from https://github.com/owickstrom/the-monospace-web

Copyright 2024 Oskar Wickström
*/

.tree, .tree ul {
    position: relative;
    padding-left: 0;
    list-style-type: none;
    line-height: var(--line-height);
  }
  .tree ul {
    margin: 0;
  }
  .tree ul li {
    position: relative;
    padding-left: 1.5ch;
    margin-left: 1.5ch;
    border-left: var(--border-thickness) solid var(--current-text-color);
  }
  .tree ul li:before {
    position: absolute;
    display: block;
    top: calc(var(--line-height) / 2);
    left: 0;
    content: "";
    width: 1ch;
    border-bottom: var(--border-thickness) solid var(--current-text-color);
  }
  .tree ul li:last-child {
    border-left: none;
  }
  .tree ul li:last-child:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    height: calc(var(--line-height) / 2);
    border-left: var(--border-thickness) solid var(--current-text-color);
  }

/*END of Wickström's code*/