<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% if page.description %}{{ page.description }} {% endif %}{% assign excerpt = content | strip_html | truncate: 100, '' %}{{ excerpt }}">
		<title>{{ page.title }}</title>
		{% include general-style.html %}
		{% include themes-style.html %}   
		{% include trees-style.html %}
		{% include post-style.html %}
		{% include project-style.html %}
		{% include umami-analytics.html %}
		{% if page.style %}
			{% include {{page.style}}-style.html %}
		{% endif %}
		{% if page.katex %}
		<!--KaTeX loading-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css">
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				renderMathInElement(document.body);
			});
		</script>
		{% endif %}
	</head>
	<body>
		{% include themes-inputs.html %}
		<div id="view">
			<details id="mobile-sidebar-toggle">
				<summary>
					<span>navigation</span>
				</summary>
			</details>
			<details open="" id="desktop-sidebar-toggle">
				<summary></summary>
			</details>
			<div id="sidebar">
				{% include themes.html %}
				<div id="trees-container">
					{% include trees.html %}
				</div>
				{% include site-info.html %}
			</div>
			<div id="content">
				<img id="header-image" src="/src/assets/{{page.slug}}.webp">
				<h1>{{ page.title }}</h1>
				<div id="info">
					{% if page.tags %}
					{% for tag in page.tags %}
					<p class="tag">{{ tag }}</p>
					{% endfor %}
					{% endif %}
					{% if page.github %}
					<a href="{{page.github}}">GitHub</a>
					{% endif %}
					{% if page.website %}
					<a href="{{page.website}}">Website</a>
					{% endif %}
				</div>
				<hr>
				{{ content }}
			</div>
		</div>
	</body>
</html>